name: Sample 2

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true

jobs:
  something:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello from sample 2"

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN}}
